<form class="form">
  <h1>Deletar Sala</h1>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>ID</mat-label>
    <input [(ngModel)]="room.id" name="id" disabled matInput>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>CRM</mat-label>
    <input [(ngModel)]="room.roomNumber" name="roomNumber" disabled matInput>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>CRM</mat-label>
    <input [(ngModel)]="room.registerDate" name="registerDate" disabled matInput>
  </mat-form-field>

  <button mat-flat-button color="primary" (click)="delete()">Deletar</button>
  <button mat-flat-button color="warn" routerLink="/doctor">Cancelar</button>

</form>
