.header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: start;
}

h1 {
  font-size: larger;
}

.footer {
  height: 7%;
  position: fixed;
  bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: end;
}

p {
  color: rgb(49, 49, 49);
  margin: 0%;
  font-size: 1rem;
  padding: 0 0%;
  border-radius: 20px;
}

.container {
  height: 83%;
}

i {
  margin-right: 0.5rem;
}

button {
  margin: 1rem auto 0 1rem;
}

mat-card {
  width: 80%;
  height: 50%;
  margin: 1rem 0 auto 0 auto;
}

img {
  width: 40px;
}

a {
  margin-right: 20px;
}
